.modal{
  position:fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.25);
  z-index: 1;
  &--close{
    display:none;

  };
  &__box{
  bottom: 50%;
  left: 30vw;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
  height: 20rem;
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
}

}

.room{
  width: 30vw;
  height: 100vh;
  border: solid 1px black;
  &__add-btn{
    justify-content: center;
  }
  &__wrapper{
    height: 5rem;
    display:flex;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 1px black;
  }
  &__avatar{
    pointer-events: none;
    margin: 0 1rem;
  }
  &__title{
    pointer-events: none;
  }
   
}

